*{
  padding: 0;
  margin: 0;
}
.contener{
  background: url("./barley-field-1684052.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.contener__iner{
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

/* logo */

.logo{
  font-size: 30px;
  font-weight: bold;
  color: darkorange;

}

/* navigation */

.nav{
  text-transform: uppercase;
  font-size: 14px;
  
}

.nav__link{
  text-decoration: none;
  color: rgb(9, 139, 48);
  display: inline-block;
  vertical-align: top;
  margin:  15px;
  transition: color .2s linear;
  position: relative;

}

.nav__link:after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  background-color: coral;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .2s linear;
  position: relative;
}

.nav__link:hover{
  color: coral;
}

.nav__link:hover:after{
  opacity: 1;
}
/* intra  */

.intra{
  width: 800px;
  margin: 0 auto;
  padding-top: 100px;
}

.intra__title{
  text-transform: uppercase;
  color: rgb(202, 140, 6);
  font-size: 100px;
  text-align: center ;
  margin: 0 auto;
}
.intra__subtitle{
  font-family: 'Kaushan Script', cursive;
  color: blue ;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}

 /* button */
.intra__footer{
  padding: 150px ;
}

.button{
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  color: brown;
  padding: 10px 15px;
  border: 3px solid;
  margin: 0 auto;
  border-width: 15;
  transition: background .1s linear, color .1s linear;
}
.button:hover{
  background-color: yellowgreen;
  color: antiquewhite;
}
 /* main */

 .main{
   padding: 40px 0;
   background-color: rgb(194, 202, 
   188);
   text-align: center;
 }

 /* images */

 .main-image-section{
   display:flex;
   /* width: 30%; */
   justify-content: space-between 
 }

 .main__img{
   display: flex;
   width: 150px;
 }

